@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  * {
    @apply select-none scrollbar-hide outline-none;
  }

  html,
  body {
    @apply h-full overflow-hidden bg-base-100 backdrop-brightness-125;
  }

  h1 {
    @apply text-4xl font-extrabold;
  }

  h2 {
    @apply text-3xl font-bold;
  }

  h3 {
    @apply text-2xl font-bold;
  }

  h4 {
    @apply text-xl font-bold;
  }
}
